.normal_text {
 color: red;
}

.wrapper {
 position: relative;
}

.icon {
 height: 1.5rem;
 width: 1.5rem;
 padding: 4px;
 position: absolute;
 box-sizing: border-box;
 top: 50%;
 left: 5px;
 transform: translateY(-50%);
 color: #0e6db3;
}

.icon_right {
 height: 1.5rem;
 width: 1.5rem;
 padding: 4px;
 position: absolute;
 box-sizing: border-box;
 top: 50%;
 right: 5px;
 transform: translateY(-50%);
}

.input_absolute {
 box-sizing: border-box;
 padding-left: 2rem;
 width: 100%;
}
